<h1>Webhook on Rails</h1>

<div>
<h2>Status:</h2>
  Number of emails sent: <%= @number_of_emails_sent %> <br />
  Number of emails opened: <%= @number_of_emails_opened %> <br />
  Number of clicks: <%= @number_of_clicks %>
</div>

<% @email_types.each do |email_type| %>
<div>
  <h3><%= email_type.underscore.humanize %></h3>
  OPEN rate: <%= @webhook.rate_between(email_type, 'open') %>% <br />
  CLICK rate: <%= @webhook.rate_between(email_type, 'click') %>% <br />
</div>
<% end %>
